@use "variables" as var;

@mixin movie-result {
  background-image: url(../assets/cover_movie.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-x: 90px;
  background-position-y: -5px;
  z-index: +10;
}

@mixin button {
}
